.cover__subtitle {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  z-index: 10;
}

@media (max-width: 425px) {
  .cover__subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
}