.cover__subtitle {
  display: block;
  margin: 0 auto;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  z-index: 10;
}

@media (min-width: 320px) and (max-width: 425px) {
  .cover__subtitle {
    width: 263px;
    font-size: 14px;
    line-height: 16px;
  }
}